<% if user_signed_in? %>
	<div style="text-align: center;padding: 120px;">
		<a class="btn btn-primary btn-lg" onClick="showDisclaimer();">Fetch my connections</a>
		<!-- <%#= link_to "Fetch my connections", linkedin_auth_path, class: "btn btn-primary" %> -->
	</div>
<% else %>
	<div style="text-align: center;">
		<h1>Welcome to LinkedIn Contacts Manager</h1>
	</div>
<% end %>