/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require dataTables/src/demo_table_jui
 *= require_tree .
 */

.linkedin_si_btn{
	background-image: url(../assets/Sign-In-Large---Active.png);
}

.linkedin_header{
	float: right;
}

.non_loggedin_linkedin_header{
	padding: 187px;
}

.non_loggedin_linkedin_header input{
	position: relative;
	top: 16px;
}

.linkedin_header input{
	position: relative;
	top: 16px;
}

.content_container{min-height: 760px;}