<div class="container-fluid ftBg_clr mgtop5">
	<div class="container norgt_pd">
		<div class="col-lg-7 col-md-7 col-sm-5 padTop5">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-12">
					<p class="copyRgt">&copy; 2015 Janmejay Rai</p>
				</div>
				<div class="col-lg-8 col-md-8 col-sm-12 lpad_no rpad_no">
					<ul class="footNav">
						<li><a href="javascript:void(0);">About Me</a> </li>
						<li><a href="javascript:void(0);">Contact Me</a> </li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<%= render 'modals/disclaimer_popup' %>